<h1>Búsqueda: <small>{{ termino }}</small></h1>
<hr>

<div *ngIf="heroes" class="card-columns" >
  <div class="card animated fadeIn fast " *ngFor="let heroe of heroes; let i = index">
    <img class="card-img-top img-fluid" [src]="heroe.img" [alt]="heroe.nombre">
    <div class="card-block">
      <h4 class="card-title">{{heroe.nombre}}</h4>
      <p class="card-text">{{ heroe.bio }}</p>
      <p class="card-text"><small class="text-muted"> {{ heroe.aparicion | date:'y' }} </small></p>

      <!-- Segunda forma: usando routerLink-->
      <a [routerLink]="['/home']">Regresar</a>
    </div>
  </div>
</div>
<!-- En caso de que no haya resultados -->
<div *ngIf="heroes.length == 0" class="alert alert-info animated fadeIn" role="alert">
  <strong>Héroe no encontrado.</strong> No existen resultados con el término {{termino}}.
</div>
